    body{ 
    
    
    font-size: 20px;
}
    h1{ 
    background-color:#504d80;
      color: rgb(19, 19, 161);
      text-align: center;
      font-family:'Courier New', Courier, monospace ;
      border-radius: 50px;
}
    h2 { 
    background-color:#504d80;
    color: rgb(19, 19, 161);
    border-radius: 10px;
        
}X
    article{
    font-size: 10px;
}
    p{
    background-color: rgb(221, 47, 47);
    color:#504d80;
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url('../source/IMG/montanha.jpg');
}
    button {
        padding: 20px 40px;
        background-color: #504d80;
        background-image: linear-gradient(45deg #d9d9d9 0% , #97d9e1 100%);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: 10px;
        border-radius: 15px;
 }